<div class="register-card">
  <div class="brand">
    <div class="brand-logo"></div>
    <h1>Create Account</h1>
    <p>Enter your details to register</p>
  </div>

  <form (submit)="register(); $event.preventDefault()">
    <div class="form-group">
      <label for="username">User Name</label>
      <input
        type="username"
        class="form-control"
        id="username"
        [(ngModel)]="username"
        name="username"
        required
      />
      <div class="error" id="usernameError"></div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        [(ngModel)]="email"
        name="email"
        required
      />
      <div class="error" id="emailError"></div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        [(ngModel)]="password"
        name="password"
        required
      />
      <div class="error" id="passwordError"></div>
    </div>
    <div class="form-group">
      <label for="societyId">Society ID</label>
      <input
        type="text"
        class="form-control"
        id="societyId"
        [(ngModel)]="societyId"
        name="societyId"
        required
      />
      <div class="error" id="societyIdError"></div>
    </div>
    <div class="form-group">
      <label for="role">Role</label>
      <select
        class="form-select"
        id="role"
        [(ngModel)]="role"
        name="role"
        required
      >
        <option value="admin">Admin</option>
        <option value="member">Member</option>
      </select>
      <div class="error" id="roleError"></div>
    </div>

    <button type="submit" class="register-btn" id="registerButton">
      Sign Up
    </button>
  </form>
  <div class="signin-link">
    <p>Already have an account? <button (click)="onLogin()">Sign In</button></p>
  </div>
</div>
